# Environment variables / secret keys
.env

# Python Virtual Environment
venv/
.venv/
env/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# OS Metadata / IDE configs
.DS_Store
Thumbs.db
.vscode/
.idea/
